<div class="card"  id="<%= dom_id restaurant %>">
  <div class="card-body">
    <div class="d-flex align-items-baseline">
      <h5 class="card-title me-2">Name:</h5>
      <p class="card-text">
        <%= restaurant.name %>
      </p>
    </div>

    <div class="d-flex align-items-baseline">
      <h5 class="card-title me-2">Address:</h5>
      <p class="card-text">
        <%= restaurant.address %>
      </p>
    </div>

    <div class="d-flex align-items-baseline">
      <h5 class="card-title me-2">Phone number:</h5>
      <p class="card-text">
        <%= restaurant.phone_number %>
      </p>
    </div>

    <div class="d-flex align-items-baseline">
      <h5 class="card-title me-2">Category:</h5>
      <p class="card-text">
        <%= restaurant.category %>
      </p>
    </div>

    <%=  link_to "Show this restaurant", restaurant, class: "btn btn-primary" %>
  </div>
</div>
